.rate {
    background: rgb(255,0,0);
    background: -moz-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(149,0,255,1) 50%, rgba(0,241,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(149,0,255,1) 50%, rgba(0,241,255,1) 100%);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(149,0,255,1) 50%, rgba(0,241,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#00f1ff",GradientType=1);
}
.cards {
    opacity: 0;
    transition: all 1s;
}
.cardss {
    opacity: 1 !important;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }